* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* border: 1px solid black; */
}

:root {
  --font-title: "Roboto", sans-serif;
  --font-paragraf: "Poppins", sans-serif;
  --size-paragraf: 0.9rem;
  --size-title: 2rem;
}

html,
body {
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #12d6fa;
  display: flex;
  padding: 0 8%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a img {
  width: 200px;
}

nav h2 span {
  color: #16424e;
}

nav ul li a {
  transition: all 0.2s ease-in-out;
  font-family: var(--font-paragraf);
  font-size: 1.05rem;
  font-weight: 400;
  color: #fff;
}

nav ul li a:hover {
  font-weight: 500;
  color: #23616c;
}

nav .icon {
  display: none;
}

/* section main */

section.main {
  display: flex;
  background: linear-gradient(to bottom, #12d6fa, #1daafe);
  width: 100%;
  height: 100vh;
  padding: 0 8%;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

section.main h1 {
  font-size: 3rem;
  font-family: var(--font-title);
  color: #fff;
}

section.main p {
  margin-top: 20px;
  font-size: 1rem;
  font-family: var(--font-paragraf);
  color: #fff;
}

section.main .button-pesan {
  display: inline-block;
  margin-top: 30px;
  color: #fff;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
}

section.main img {
  width: 500px;
  margin-top: 100px;
}

.no-wa {
  position: fixed;
  right: 120px;
  top: 80%;
}

.no-wa img {
  position: absolute;
  width: 80px;
  transition: all 0.2s;
}

.no-wa img:hover {
  position: absolute;
  width: 70px;
}

/* section detail undnagan */
section.detail-undngan {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  padding: 0 8%;
}

section .title-information {
  text-align: center;
}

section.detail-undngan .title-information h1,
section.pilihan-paket .title-information h1,
section.demo-undangan .title-information h1 {
  text-align: center;
  font-size: var(--size-title);
  font-family: var(--font-title);
}

section.detail-undngan .title-information p,
section.pilihan-paket .title-information p,
section.demo-undangan .title-information p {
  width: 70%;
  margin: 20px auto;
  font-family: var(--font-paragraf);
  font-size: var(--size-paragraf);
}

section.detail-undngan .card-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section.detail-undngan .card-list div {
  border: 2px solid transparent;
  width: 275px;
  height: 300px;
  padding: 10px;
  text-align: center;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

section.detail-undngan .card-list div:hover {
  box-shadow: 0px 2px 5px rgba(29, 170, 254, 0.5);
}

section.detail-undngan .card-list .card-hemat {
}

section.detail-undngan .card-list img {
  margin: auto;
  display: block;
  width: 55px;
}

section.detail-undngan .card-list h1 {
  font-size: 1.7rem;
  font-family: var(--font-title);
  padding: 10px 0;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

section.detail-undngan .card-list div:hover h1 {
  color: #1daafe;
}

section.detail-undngan .card-list p {
  padding: 10px 0;
  font-family: var(--font-paragraf);
  font-size: 0.8rem;
}

section.pilihan-paket {
  background-color: #1daafe;
  margin-top: -10px;
  padding: 0px 8%;
  height: 100%;
}

section.pilihan-paket .title-information h1,
section.pilihan-paket .title-information p {
  color: #fff;
}

section.pilihan-paket .card-paket {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section.pilihan-paket .card-paket .paket {
  width: 280px;
  height: 360px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-title);
  border-radius: 20px;
  margin: 10px;
  border: 2px solid transparent;
  transition: all 0.2s;
}

section.pilihan-paket .card-paket .paket:hover {
  border: 2px solid #000;
  box-shadow: 0px 4px 10px #ffffffc0;
}

section.pilihan-paket .card-paket .paket h2 {
  padding: 10px;
  font-weight: 400;
}

section.pilihan-paket .card-paket .paket h3 {
  font-weight: 400;
  padding: 5px;
  text-decoration: line-through;
}

section.pilihan-paket .card-paket .paket h1 {
  font-weight: 500;
}

section.pilihan-paket .card-paket .paket ul li {
  line-height: 25px;
}

section.pilihan-paket .card-paket .paket ul li::before {
  content: "-> ";
}

section.pilihan-paket .card-paket .paket a {
  padding: 10px 30px !important;
  display: inline-block;
  background-color: #12d6fa;
  margin-top: 15px;
  border-radius: 10px;
  color: #fff;
}

section.demo-undangan {
  padding: 20px 8%;
}

section.demo-undangan .card-demo .paket {
  margin-top: 40px;
  text-align: center;
}
section.demo-undangan .card-demo .paket a {
  color: #000;
  font-size: 12px;
  display: inline-block;
}

section.demo-undangan .card-demo .paket div {
  margin: auto;
  max-width: 280px;
  overflow: hidden;
  height: 200px;
  /* background-color: #16424e; */
  border-radius: 15px;
}

section.demo-undangan .card-demo .paket div img {
  width: 100%;
  height: 100%;
}

section.demo-undangan .card-demo .paket a:hover h1 {
  color: #ffffff;
  background-color: rgb(35, 107, 128);
  margin-top: -60px;
}

section.demo-undangan .card-demo .paket h1 {
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
  margin-top: -10px;
  font-size: 15px;
  font-family: var(--font-paragraf);
  border-radius: 10px;
  background-color: #1daafe;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

footer {
  margin-top: 50px;
  background-color: #1daafe;
  text-align: center;
  padding: 30px 0;
  color: #000;
}

footer a img {
  width: 150px;
}

footer p {
  margin-bottom: 30px;
}

footer .media-sosial {
  display: flex;
  width: 130px;
  margin: auto;
  justify-content: space-around;
}

footer .media-sosial a img {
  width: 20px;
}

/* Responsive */
@media (max-width: 950px) {
  nav {
    background-color: #12d6fa;
  }

  nav a img {
    width: 100px;
  }

  nav .icon {
    display: block;
  }
  nav ul {
    width: 100%;
    height: 40vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    top: 75px;
    right: -100%;
    position: absolute;
    text-align: center;
    background-color: #12d6fa;
    transition: all 3s;
    border-top: 1px solid black;
  }

  nav ul li a {
    /* background-color: #fff; */
    display: block;
    padding: 10px 90px;
  }

  nav ul.active {
    left: 0;
    transition: all 0.2s ease-in-out;
  }

  section.main h1 {
    font-size: 2rem;
  }

  section.main p {
    font-size: 0.9rem;
  }

  section.main img {
    display: none;
  }

  section.detail-undngan .title-information h1,
  section.pilihan-paket .title-information h1,
  section.demo-undangan .title-information h1 {
    font-size: 1.5rem;
    width: 90%;
    margin: auto;
  }

  section.detail-undngan .title-information p,
  section.pilihan-paket .title-information p,
  section.demo-undangan .title-information p {
    width: 90%;
    font-size: 0.8rem;
  }

  section.pilihan-paket {
    padding-top: 30px;
  }

  .no-wa {
    position: fixed;
    right: 90px;
    top: 85%;
  }

  .no-wa img {
    position: absolute;
    width: 70px;
    transition: all 0.2s;
  }

  .no-wa img:hover {
    position: absolute;
    width: 60px;
  }
}
