* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* border: 1px solid black; */
}

:root {
  --font-title: "Roboto", sans-serif;
  --font-paragraf: "Poppins", sans-serif;
  --size-paragraf: 0.9rem;
  --size-title: 2rem;
}

html,
body {
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #12d6fa;
  display: flex;
  padding: 0 8%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* transition: all 3s ease-in-out; */
}

nav ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a img {
  width: 200px;
}

nav h2 span {
  color: #16424e;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: var(--font-paragraf);
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

nav ul li a {
  transition: all 0.2s ease-in-out;
  font-family: var(--font-paragraf);
  font-size: 1.05rem;
  font-weight: 400;
  color: #fff;
}

nav ul li a:hover {
  font-weight: 500;
  color: #23616c;
}

nav .icon {
  display: none;
}

nav .contactt {
  padding: 10px 25px;
  background-color: #fff;
  color: #12d6fa;
  border-radius: 12px;
  font-weight: bold;
  border: 2px solid white;
}
nav .contactt:hover {
  font-weight: bold;
  color: #fff;
  border: 2px solid white;
  background-color: #12d6fa;
}

/* section main */

section.main {
  display: flex;
  background: linear-gradient(to bottom, #12d6fa, #1daafe);
  width: 100%;
  height: 100vh;
  padding: 0 8%;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

section.main h1 {
  font-size: 3rem;
  font-family: var(--font-title);
  color: #fff;
}

section.main p {
  margin-top: 20px;
  font-size: 1rem;
  font-family: var(--font-paragraf);
  color: #fff;
}

section.main .button-pesan {
  display: inline-block;
  margin-top: 30px;
  color: #fff;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
}

section.main img {
  width: 500px;
  margin-top: 100px;
}

.no-wa {
  position: fixed;
  right: 120px;
  top: 80%;
}

.no-wa img {
  position: absolute;
  width: 80px;
  transition: all 0.2s;
}

.no-wa img:hover {
  position: absolute;
  width: 70px;
}

/* section detail undnagan */
section.detail-undngan {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  padding: 0 8%;
}

section .title-information {
  text-align: center;
}

section.detail-undngan .title-information h1,
section.pilihan-paket .title-information h1,
section.demo-undangan .title-information h1,
section.demo-filter .title-information h1 {
  text-align: center;
  font-size: var(--size-title);
  font-family: var(--font-title);
}

section.detail-undngan .title-information p,
section.pilihan-paket .title-information p,
section.demo-undangan .title-information p,
section.demo-filter .title-information p {
  width: 70%;
  margin: 20px auto;
  font-family: var(--font-paragraf);
  font-size: var(--size-paragraf);
}

section.detail-undngan .card-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section.detail-undngan .card-list div {
  border: 2px solid transparent;
  width: 230px;
  height: 220px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.2s ease-in;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 12px;
}

section.detail-undngan .card-list div img {
  width: 35px;
}

section.detail-undngan .card-list div:hover {
  box-shadow: 0px 2px 5px rgba(29, 170, 254, 0.5);
}

section.detail-undngan .card-list img {
  margin: auto;
  display: block;
  width: 55px;
}

section.detail-undngan .card-list h1 {
  font-size: 1.2rem;
  font-family: var(--font-title);
  padding: 10px 0;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  color: #16424e;
}

section.detail-undngan .card-list div:hover h1 {
  color: #1daafe;
}

section.detail-undngan .card-list p {
  padding: 10px 0;
  font-family: var(--font-paragraf);
  font-size: 0.8rem;
}

section.pilihan-paket {
  background-color: #1daafe;
  margin-top: -10px;
  padding: 0px 8%;
  height: 100%;
}

section.pilihan-paket .title-information h1,
section.pilihan-paket .title-information p {
  color: #fff;
}

section.pilihan-paket .card-paket {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section.pilihan-paket .card-paket .paket {
  width: 280px;
  height: 100%;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-title);
  border-radius: 20px;
  margin: 10px;
  border: 2px solid transparent;
  transition: all 0.2s;
}

section.pilihan-paket .card-paket .paket:hover {
  border: 2px solid #000;
  box-shadow: 0px 4px 10px #ffffffc0;
}

section.pilihan-paket .card-paket .paket h2 {
  padding: 10px;
  font-weight: bold;
  color: #00cff3;
  /* background-color: #00cff3; */
  /* width: 130%; */
}

section.pilihan-paket .card-paket .paket h3 {
  font-weight: 400;
  padding: 5px;
  text-decoration: line-through;
}

section.pilihan-paket .card-paket .paket h1,
section.demo-filter h1 {
  font-weight: 500;
}

section.pilihan-paket .card-paket .paket ul {
  margin-top: 20px;
}

section.pilihan-paket .card-paket .paket ul li {
  line-height: 25px;
  text-align: left;
  padding-left: 10px;
}

section.pilihan-paket .card-paket .paket a {
  padding: 10px 30px !important;
  display: inline-block;
  background-color: #12d6fa;
  margin-top: 15px;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

section.pilihan-paket .card-paket .paket a:active {
  transform: scale(0.95);
}

/* halaman undangan */
section.demo-undangan {
  padding: 20px 8%;
}

section.demo-undangan .catagory {
  display: flex;
  justify-content: center;
  /* background-color: #12d6fa; */
}
section.demo-undangan .catagory li {
  margin: 0 10px;
  color: #000;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #00cff3;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: var(--font-paragraf);
}
section.demo-undangan .catagory li a {
  color: #000;
}

section.demo-undangan .card-demo .paket {
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.demo-undangan .card-demo .paket a {
  color: #000;
  margin-bottom: 50px;
  font-size: 12px;
  padding: 20px;
  margin-top: -10px;
  box-sizing: border-box;
  border: 1px solid black;
  display: inline-block;
  border-radius: 5px;
}

section.demo-undangan .card-demo .paket div.gambar {
  margin: auto;
  /* max-width: 280px; */
  overflow: hidden;
  /* margin: auto; */
  height: 200px;
  border-radius: 15px;
}

section.demo-undangan .card-demo .paket div img {
  /* width: 80%; */
  bottom: 0;
  height: 80%;
  margin: 20px 0;
}

section.demo-undangan .card-demo .deskripsi {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  border-top: 1px solid black;
}

section.demo-undangan .card-demo .deskripsi .button-preview h1 {
  padding: 10px 30px;
  color: #fff;
  margin-top: 7px;
  display: inline-block;
  font-size: 13px;
  font-family: var(--font-paragraf);
  border-radius: 5px;
  background-color: #1daafe;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

section.demo-undangan .card-demo .deskripsi h2 {
  font-size: 15px;
  text-align: left;
  font-family: var(--font-paragraf);
}

section.demo-undangan .card-demo .deskripsi p {
  text-align: left;
  font-size: 10px;
}

section.demo-undangan .card-demo .deskripsi p.harga {
  font-size: 16px;
  /* padding: 20px;  */
}

section .btn-lihat-tema {
  padding: 9px 35px;
  display: block;
  margin: 10px auto 0;
  border: 1px solid #12d6fa;
  font-family: var(--font-paragraf);
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  color: #706f6f;
}

section .btn-lihat-tema:active {
  color: #fff;
  background-color: #1daafe;
  transform: scale(0.97);
}

section.demo-filter {
  padding: 0 8%;
  font-family: var(--font-title);
  margin-top: 50px;
}
section.demo-filter .card-demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section.demo-filter .card-demo .paket {
  width: 200px;
  /* height: 360px; */
  background-color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid transparent;
  transition: all 0.2s;
}

section.demo-filter .card-demo .paket img {
  border-radius: 12px;
}

section.demo-filter .card-demo .paket img:hover {
  box-shadow: 0px 0px 8px rgba(70, 70, 70, 0.58);
}

/* filter */

section.demo-filter .card-demo .paket .coba {
  padding: 10px 50px;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  margin: 10px;
  display: inline-block;
  background-color: #12d6fa;
  border: 2px solid #12d6fa;
}

section.demo-filter .card-demo .paket a:active {
  transform: scale(0.97);
}

section.demo-filter .card-demo .paket .pesan {
  padding: 10px 45px;
  color: #12d6fa;
  border: 2px solid #12d6fa;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #fff;
}
/* apakah akan gagal

section.acc {
  padding: 0 8%;
  margin-top: 50px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.acc button {
  background-color: #aeaeae;

}

.acc button:hover {

}

.active,
.accordion:hover {

}

.panel {
  padding: 10px 18px;
  display: none;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
} */

footer {
  margin-top: 50px;
  background-color: #1daafe;
  text-align: center;
  padding: 30px 0;
  color: #000;
}

footer a img {
  width: 150px;
}

footer p {
  margin-bottom: 30px;
}

footer .media-sosial {
  display: flex;
  width: 130px;
  margin: auto;
  justify-content: space-around;
}

footer .media-sosial a img {
  width: 20px;
}

/* Responsive */
@media (max-width: 950px) {
  nav {
    background-color: #12d6fa;
  }

  nav a img {
    width: 100px;
  }

  nav .icon {
    display: block;
    /* transition: all 3s ease-in-out !important; */
  }
  nav ul {
    width: 100%;
    height: 40vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    top: 75px;
    right: -100%;
    position: absolute;
    text-align: center;
    background-color: #12d6fa;
    border-top: 1px solid black;
    transition: right 0.3s ease;
  }

  nav ul.active {
    right: 0;
  }

  nav ul li a {
    /* background-color: #fff; */
    display: block;
    padding: 10px 90px;
  }

  section.main h1 {
    font-size: 2rem;
  }

  section.main p {
    font-size: 0.9rem;
  }

  section.main img {
    display: none;
  }

  section.detail-undngan .title-information h1,
  section.pilihan-paket .title-information h1,
  section.demo-undangan .title-information h1 {
    font-size: 1.5rem;
    width: 90%;
    margin: auto;
  }

  section.detail-undngan .title-information p,
  section.pilihan-paket .title-information p,
  section.demo-undangan .title-information p {
    width: 90%;
    font-size: 0.8rem;
  }

  section.detail-undngan .card-list div {
    width: 130px;
    height: 100%;
  }

  section.detail-undngan .card-list div img {
    width: 30px;
  }

  section.detail-undngan .card-list h1 {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 3px 0;
  }
  section.detail-undngan .card-list p {
    font-size: 0.7rem;
    /* padding: 3px 0; */
  }

  section.pilihan-paket {
    padding-top: 30px;
  }

  .no-wa {
    position: fixed;
    right: 90px;
    top: 85%;
  }

  .no-wa img {
    position: absolute;
    width: 70px;
    transition: all 0.2s;
  }

  .no-wa img:hover {
    position: absolute;
    width: 60px;
  }

  section.demo-filter {
    padding: 0 2%;
    font-family: var(--font-title);
    margin-top: 50px;
  }

  section.demo-undangan .card-demo .paket a {
    margin-bottom: 30px;
    padding: 0px;
    width: 150px;
  }

  section.demo-undangan .card-demo .paket div.gambar {
    height: 130px;
  }

  section.demo-undangan .card-demo .paket div img {
    height: 80%;
  }

  section.demo-undangan .card-demo .deskripsi {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    border-top: 1px solid black;
  }

  section.demo-undangan .card-demo .deskripsi .button-preview h1 {
    padding: 5px 10px;
    color: #fff;
    margin-top: 7px;
    border-radius: 3px;
    font-weight: 100;
    display: inline-block;
    font-size: 10px;
  }

  section.demo-undangan .card-demo .deskripsi h2 {
    font-size: 11px;
  }

  section.demo-undangan .card-demo .deskripsi p {
    font-size: 7px;
  }

  section.demo-undangan .card-demo .deskripsi p.harga {
    font-size: 12px;
    /* padding: 20px;  */
  }

  /* section.demo-filter .card-demo .paket {
    width: 150px;
  }

  section.demo-filter .card-demo .paket .coba,
  section.demo-filter .card-demo .paket .pesan {
    padding: 10px 20px;
    font-size: 15px;
  }

  section.demo-undangan .card-demo .paket div {
    max-width: 200px;
    overflow: hidden;
    height: 120px;
    border-radius: 0px;
  } */
}

@media (max-width: 290px) {
  section.demo-undangan .card-demo .paket {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
