.full-container .halaman-utama h1,
.full-container p.bold span {
  font-family: var(--font-heandwriting);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-y: hidden;
}
:root {
  --bg-button: #6b7d69;
  --secon-color: #e4ad54;
  --font-paragraf: 1rem;
  --font-title: 2.5rem;
  --font-heandwriting: "Dancing Script", cursive;
  --font-heandwriting-2: "Great Vibes", cursive;
  --all-font: "Roboto Serif", serif;
}
.full-container {
  background-color: #fffbf9;
  width: 100%;
  height: auto;
  font-family: var(--all-font);
  font-weight: 300;
  padding-bottom: 200px;
  position: relative;
  overflow-x: hidden;
}
.full-container .halaman-utama {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  position: relative;
}
.full-container .halaman-utama .slick-list,
.full-container .halaman-utama .slick-slider,
.full-container .halaman-utama .slick-track {
  height: 100%;
  width: 100%;
}
.full-container .halaman-utama img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  transform: scale(1.06);
}
.full-container .halaman-utama .informasi {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}
.full-container .halaman-utama h1 {
  font-size: 62px;
  text-transform: capitalize;
}
.full-container .halaman-utama p,
.full-container p.bold {
  font-size: var(--font-paragraf);
}
.full-container .halaman-utama p:nth-child(2) {
  padding-top: 5px;
}
.full-container .halaman-utama p:nth-child(3) {
  padding-top: 10px;
}
.full-container .halaman-utama label#untuk {
  font-size: 25px;
  padding-top: 10px;
  text-transform: capitalize;
  font-weight: 700;
}
.full-container .halaman-utama button {
  padding: 10px 35px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  background-color: var(--bg-button);
  cursor: pointer;
  color: #fff;
}
.full-container p.bold {
  line-height: 30px;
  font-weight: 600;
}
.full-container .bunga-1 {
  z-index: 1;
  position: absolute;
  right: -80px;
  top: 10px;
}
.full-container .bunga-2 {
  width: 110px;
  position: absolute;
  left: -80px;
}
.full-container img.bunga-1,
.full-container img.bunga-2,
.full-container img.bunga-3,
.full-container img.bunga-4,
.full-container img.bunga-5,
.full-container img.bunga-6 {
  width: 200px !important;
}
.full-container .pengantin {
  width: 100%;
  text-align: center;
  background-color: #fffbf9;
  padding: 30px 0;
}
.full-container .galeri h1.title,
.full-container .pengantin .title,
.full-container .waktu-tempat h1 {
  font-size: var(--font-title);
  padding: 10px;
  color: var(--secon-color);
  font-family: var(--font-heandwriting-2);
  font-weight: 100;
  letter-spacing: 5px;
  text-align: center;
}
.full-container .pengantin p:nth-child(2) {
  padding-bottom: 20px;
  line-height: 23px;
  width: 90%;
  margin: auto;
  font-size: var(--font-paragraf);
}
.full-container .foto-mempelai {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0;
  overflow: visible;
}
.full-container .foto-mempelai .nama {
  padding: 20px;
  font-size: 2rem;
  font-family: var(--font-heandwriting-2);
  font-weight: 200;
  color: var(--secon-color);
}
.full-container .foto-mempelai div p {
  line-height: 30px;
  font-size: var(--font-paragraf);
  overflow: visible;
}
.full-container .foto-mempelai .gambar-and-border {
  position: relative;
  width: 250px;
  margin: auto;
}
.full-container .foto-mempelai .pria,
.full-container .foto-mempelai .wanita {
  width: 400px;
}
.full-container .foto-mempelai .img {
  width: 250px;
  border-radius: 50%;
}
.full-container .foto-mempelai img.border-1,
.full-container .foto-mempelai img.border-2 {
  width: 250px;
  position: absolute;
  top: 0;
  right: -12px;
  border-radius: 0;
}
.audio-icon {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 50px;
  height: 50px;
  display: none;
  border: 0;
  z-index: 100;
  background: url(../gbr/audio-on.png) center no-repeat;
}
.audio-icon.off {
  background: url(../gbr/audio-off.png) center no-repeat;
}
.full-container .quotes {
  background: url(../gbr/bg-2.png) #f1efef;
  width: 100%;
  padding: 80px 0;
  text-align: center;
  line-height: 25px;
  overflow: visible;
}
.full-container .quotes p {
  padding: 10px 0;
  width: 70%;
  font-size: var(--font-paragraf);
  margin: auto;
}
.full-container .waktu-tempat {
  text-align: center;
  background-color: #fff;
  padding: 40px 0;
  overflow: visible;
  position: relative;
}
.full-container .bunga-3,
.full-container .bunga-5 {
  width: 190px;
  z-index: 1;
  position: absolute;
  right: -60px;
  top: 150px;
}
.full-container .bunga-4,
.full-container .bunga-6 {
  width: 190px;
  z-index: 1;
  position: absolute;
  left: -60px;
  bottom: 150px;
}
.full-container .waktu-tempat p {
  padding: 5px 0;
  width: 70%;
  font-size: var(--font-paragraf);
  margin: auto;
}
.full-container .waktu-tempat h3 {
  font-size: 25px;
  line-height: 50px;
  font-weight: 500;
  font-style: italic;
}
.full-container .waktu-tempat h3:nth-child(2) {
  padding-top: 20px;
}
.full-container .waktu-tempat p.kecil {
  font-style: italic;
  line-height: 16px;
  padding-top: 20px;
  font-size: 14px;
}
.full-container .waktu-tempat a {
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  font-size: var(--font-paragraf);
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
  background-color: var(--bg-button);
  cursor: pointer;
  color: #fff;
}
.full-container .waktu-tempat p.p-ucapan-kehadiran {
  padding: 10px 0 30px;
}
.full-container .waktu-tempat h2 {
  font-size: 25px;
  line-height: 70px;
  font-family: var(--font-heandwriting);
  font-weight: 100;
  color: var(--secon-color);
}
.full-container .waktu-tempat h1.h1-end {
  margin-top: 60px;
  margin-bottom: 30px;
}
.full-container .waktu-tempat .jam {
  width: 100%;
  display: flex;
  justify-content: center;
}
.full-container .waktu-tempat .jam div {
  margin: 0 10px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: var(--bg-button);
  color: #fff;
}
.full-container .galeri {
  overflow: visible;
  background: url(../gbr/bg-2.png) #f1efef;
  padding: 30px 0;
}
.full-container .gambar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  width: 100%;
  overflow: visible;
  gap: 20px;
  margin-top: 50px;
}
.full-container .gambar .box {
  overflow: visible;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.full-container .gambar .box img {
  overflow: visible;
  width: 300px;
  vertical-align: middle;
  margin: auto;
}
.full-container .rsvp {
  width: 100%;
  margin: auto;
  display: inline-block;
  padding: 20px;
  position: relative;
}
.full-container .rsvp .all-input {
  width: 60%;
  margin: auto;
  padding: 20px;
}
.full-container .rsvp .all-input h1.title,
.full-container .ucapan h1 {
  font-size: var(--font-title);
  color: var(--secon-color);
  font-family: var(--font-heandwriting-2);
  font-weight: 100;
  text-align: center;
  overflow: visible;
  margin-bottom: 40px;
}
.full-container .rsvp .all-input .identitas input {
  width: 100%;
  padding: 9px 0 9px 10px;
  background-color: #ecede9;
  border: none;
  border-radius: 5px;
  outline: 0;
  border-bottom: 2px solid #000;
  margin-top: 7px;
  margin-bottom: 30px;
  font-family: var(--all-font);
}
.full-container .rsvp .all-input .identitas textarea {
  width: 100%;
  height: 120px;
  background-color: #ecede9;
  border: none;
  border-radius: 5px;
  outline: 0;
  font-family: var(--all-font);
  padding: 10px;
  border-bottom: 2px solid #000;
  margin-top: 7px;
}
.full-container .rsvp .all-input .identitas label {
  margin-left: 10px;
  margin-top: 0;
  display: inline-block;
}
.full-container .rsvp .all-input .identitas p {
  margin-top: 20px;
}
.full-container .rsvp .all-input .status {
  background-color: #ecede9;
  margin-top: 10px;
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  outline: 0;
}
.full-container .rsvp .all-input button {
  padding: 15px 35px;
  border-radius: 10px;
  border: none;
  margin: 20px auto;
  display: block;
  background-color: var(--bg-button);
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.full-container img.bunga-5,
.full-container img.bunga-6 {
  border-radius: 0 !important;
}
.full-container .ucapan {
  width: 70%;
  margin: auto;
}
.full-container .ucapan .list-ucapan {
  max-height: 450px;
  overflow: scroll;
}
.full-container .ucapan ul {
  list-style: none;
  margin-bottom: 20px;
}
.full-container .ucapan ul li {
  list-style: none;
  font-style: italic;
  font-weight: 700;
}
.full-container .ucapan ul p {
  background-color: var(--bg-button);
  padding: 20px;
  margin: 5px 20px;
  border-radius: 0 10px 10px;
  color: #fff;
}
@media (max-width: 960px) {
  .full-container .bunga-1 {
    right: -80px;
    top: -50px;
  }
  .full-container .bunga-2,
  .full-container .bunga-6 {
    left: -80px;
    bottom: 100px;
  }
  .full-container .bunga-3 {
    right: -70px;
    top: 50px;
  }
  .full-container .bunga-4 {
    left: -70px;
    bottom: 100px;
  }
  .full-container .bunga-5 {
    right: -80px;
    bottom: 100px;
  }
  .full-container img.bunga-1,
  .full-container img.bunga-2,
  .full-container img.bunga-3,
  .full-container img.bunga-4,
  .full-container img.bunga-5,
  .full-container img.bunga-6 {
    width: 140px !important;
  }
}
@media (max-width: 700px) {
  .full-container {
    line-height: 25px;
  }
  .full-container .halaman-utama h1 {
    font-size: 40px;
  }
  .full-container .pengantin .title {
    padding: 20px;
  }
  .full-container .foto-mempelai {
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .full-container .bunga-1 {
    right: -20px;
  }
  .full-container .bunga-2 {
    left: -20px;
    bottom: 150px;
  }
  .full-container .bunga-3 {
    right: -20px;
    top: 90px;
  }
  .full-container .bunga-4 {
    left: -20px;
    bottom: 180px;
  }
  .full-container .bunga-5 {
    right: -50px;
    bottom: 100px;
  }
  .full-container .bunga-6 {
    left: -40px;
    bottom: 0;
  }
  .full-container img.bunga-1,
  .full-container img.bunga-2,
  .full-container img.bunga-3,
  .full-container img.bunga-4,
  .full-container img.bunga-5,
  .full-container img.bunga-6 {
    width: 100px !important;
  }
  .full-container .foto-mempelai .nama {
    padding: 10px;
  }
  .full-container .pengantin p:nth-child(2) {
    width: 90%;
    margin: auto;
  }
  .full-container .quotes p,
  .full-container .waktu-tempat p {
    width: 90%;
  }
  .full-container .waktu-tempat {
    overflow: visible;
  }
  .full-container .rsvp .all-input {
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: left;
  }
}
